$primary: #ff324d;
$font-color: #333333;
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    .arrow {
        position: absolute;
        padding: 10px;
        top: 50%;
        font-size: 40px;
        color: black;
        background-color: #fff;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        user-select: none;
        border-radius: 5px;
        &:hover {
            color: white;
            transition: all 0.3s linear;
            background-color: $primary;
        }
    }
    .right {
        right: 32px;
    }
    .left {
        left: 32px;
    }
    .slide {
        opacity: 0;
        transition-duration: 2s ease;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 2s;
    }
    .btn {
        position: relative;
        .image {
            width: 100%;
        }
        .container {
            .btn-content {
                animation-name: rotate;
                animation-duration: 1s;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                p {
                    color: $font-color;
                    font-size: 20px;
                }
                h2 {
                    font-size: 60px;
                    margin-bottom: 30px;
                    color: $font-color;
                }
                span {
                    background-color: $primary;
                    color: white;
                    padding: 12px 30px;
                    border-radius: 2px;
                    text-transform: uppercase;
                    border: 1px solid $primary;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0);
                        color: $primary;
                        border: 1px solid $primary;
                        transition: 0.3s ease-in;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}