$primary: #ff324d;
$font-color: #333333;
$bg-color: #f7f8fb;
$under-line-color: #dfdfdf;
$box-shadow: #afacac8a;
$bg-saleoff: #28a745;
$star: #f6bc3e;
$button-sign-up: #343A40;
$bg-footer-color: #202325;
$bg-icons-color: #f0f0f0;
